@font-face {
  font-family: "Montserrat-Bold";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Medium";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Regular";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: inherit;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*
&::-webkit-scrollbar {
	display: none;
}
*/

body {
  background-color: #020405;
  color: #FFFFFF;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1250px;
  margin: 0 auto;
}

._swiper .swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slider__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 400px;
  padding: 15px;
  -webkit-filter: drop-shadow(0px 0px 10px rgba(212, 60, 56, 0.5));
          filter: drop-shadow(0px 0px 10px rgba(212, 60, 56, 0.5));
  background-color: #0C1117;
}

.slider__slide:hover {
  border: 2px solid #D43C38;
}

.slider__slide + .slider__slide {
  margin-left: 30px;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.nicescroll-rails {
  z-index: 1000 !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.icon-menu {
  display: none;
}

.menu__body._active {
  display: block;
}

.header {
  margin-right: auto;
  margin-left: auto;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 0.5px solid #B3BFCD;
}

.header__nav-container__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__nav-container__bottom-tehnic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 15px;
  margin-top: 15px;
}

.header__nav-container__bottom-redact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 95px;
  padding-left: 120px;
}

.header__nav-list-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 15px;
}

.header__nav-list__item {
  padding: 58px 0;
}

.header__nav-list__item + .header__nav-list__item {
  margin-left: 25px;
}

.header__nav-list__item-info + .header__nav-list__item-info {
  margin-left: 56px;
}

.header__nav-list__item-bottom + .header__nav-list__item-bottom {
  margin-left: 25px;
}

.header__nav-list__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 25px;
}

.header__nav-link {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  padding: 58px 0;
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
}

.header__nav-link:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #D43C38;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header__nav-link:hover,
.header__nav-link:focus {
  color: #D43C38;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.header__nav-link:hover:after,
.header__nav-link:focus:after {
  width: 100%;
}

.header__nav-link__bottom {
  position: relative;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 30px 0;
  color: #FFFFFF;
  cursor: pointer;
}

.header__nav-link__bottom:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #D43C38;
  -webkit-transition: width 0.3s ease-out;
  -o-transition: width 0.3s ease-out;
  transition: width 0.3s ease-out;
}

.header__nav-link__bottom:hover,
.header__nav-link__bottom:focus {
  color: #D43C38;
  -webkit-transition: color 0.3s ease-out;
  -o-transition: color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.header__nav-link__bottom:hover:after,
.header__nav-link__bottom:focus:after {
  width: 100%;
}

.header__nav-btn {
  border: 1px solid #ACD5FE;
  border-radius: 50%;
  padding: 20px;
  margin-left: 50px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__nav-btn:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.info-location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  padding: 50px 0 50px 0;
  font-size: 14px;
  line-height: 22px;
  color: #B3BFCD;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.info-location:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

._location {
  margin-right: 8px;
}

.info-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 16px;
  padding: 65px 0 45px 0;
  color: #FFFFFF;
}

.info-phone:hover {
  -webkit-animation: 0.1s tremor ease-out infinite;
          animation: 0.1s tremor ease-out infinite;
}

._phone {
  margin-right: 16px;
}

.btn-redact {
  cursor: pointer;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn-redact + .btn-redact {
  margin-left: 20px;
}

.btn-redact:hover {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

@-webkit-keyframes tremor {
  0%, 25% {
    left: -1px;
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }

  50%, 100% {
    left: 1px;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
}

@keyframes tremor {
  0%, 25% {
    left: -1px;
    -webkit-transform: translateX(-1%);
            transform: translateX(-1%);
  }

  50%, 100% {
    left: 1px;
    -webkit-transform: translateX(1%);
            transform: translateX(1%);
  }
}

.section {
  padding-bottom: 160px;
}

.blockPC {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 35px;
}

.blockPC-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  margin-left: 250px;
}

.blockPC-description__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.blockPC-description__title::after {
  content: "";
  width: 270px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #D43C38;
  -webkit-box-shadow: 0px 2px 2px rgba(212, 60, 56, 0.5);
          box-shadow: 0px 2px 2px rgba(212, 60, 56, 0.5);
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.blockPC-description__info {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.imgPC {
  width: 350px;
  height: 338px;
}

.blockPC__container-card__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top: 10px;
  margin-bottom: 5px;
}

.blockPC__container-card__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.blockPC__container-card__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  margin-top: 18px;
  color: #FFFFFF;
  background: #0C1117;
  border: 1px solid #D43C38;
  padding: 17px;
}

.blockPC__container-card__link:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(212, 60, 56, 0.5));
          filter: drop-shadow(0px 0px 10px rgba(212, 60, 56, 0.5));
}

.blockPC__container-card__img {
  margin-left: 10px;
}

.blockPC__container-card__img + .blockPC__container-card__img {
  margin-left: 30px;
}

.info__PC {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.swiper-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.swiperPrev {
  display: none;
}

.swiperNext {
  display: none;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (max-width: 1260px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }
}

@media (max-width: 768px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 375px) {
  .slider__slide {
    max-width: 250px;
    background-color: #020405;
    margin-left: 55px;
    margin-right: 50px;
    border: 1.17844px solid #D43C38;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 45px;
    right: 47px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 2px);
    left: 0px;
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: #FFFFFF;
  }

  .icon-menu span:first-child {
    width: 100%;
    top: 0px;
  }

  .icon-menu span:last-child {
    width: 50%;
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    width: 100%;
    background-color: #111111;
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 2px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 2px);
  }

  .menu__body {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    padding-top: 135px;
    overflow: auto;
    background-color: #f8f5f5;
    z-index: 2;
    /* &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 140px;
        z-index: 2;
        background-color: #ffff;
        transition: all 0.5s ease 0s;
    } */
  }

  .header__logo-img {
    width: 44px;
    height: 44px;
    margin-top: 30px;
  }

  .header__nav-container {
    border: none;
  }

  .header__nav-container__bottom-redact {
    padding: 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 20px;
  }

  .header__nav-list {
    margin: 0;
    display: none;
    padding: 15px;
    text-align: center;
  }

  .header__nav-list-info {
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav-list__item {
    padding: 0;
  }

  .header__nav-list__item + .header__nav-list__item {
    margin: 0;
    margin-top: 20px;
  }

  .header__nav-list__item-info + .header__nav-list__item-info {
    margin: 0;
    margin-top: 20px;
  }

  .header__nav-list__item-bottom + .header__nav-list__item-bottom {
    margin: 0;
    margin-top: 20px;
  }

  .header__nav-list__bottom {
    margin: 0;
    margin-top: 20px;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__nav-link {
    font-size: 20px;
  }

  .header__nav-link__bottom {
    padding: 0;
    color: #111111;
    font-size: 20px;
  }

  .header__nav-link {
    padding: 0;
    color: #111111;
  }

  .header__nav-btn {
    position: absolute;
    top: 41px;
    left: 46px;
    border: none;
    padding: 0;
    margin: 0;
  }

  .info-location {
    padding: 0;
    color: #111111;
    font-size: 18px;
  }

  ._location {
    background-color: #B3BFCD;
  }

  .info-phone {
    padding: 0;
    color: #111111;
  }

  ._phone {
    margin-bottom: 20px;
  }

  .btn-redact {
    background-color: #111111;
  }

  .section {
    padding-bottom: 138px;
  }

  .blockPC__btn-back {
    margin-top: 29px;
    margin-left: 10px;
    width: 36px;
    height: 26px;
  }

  .blockPC__btn-back__img {
    width: 36px;
    height: 26px;
  }

  .blockPC-description {
    margin-top: 30px;
    margin-left: -35px;
    text-align: center;
  }

  .blockPC-description__title {
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 1px;
  }

  .blockPC-description__title::after {
    width: 155px;
    height: 0px;
    border: 0.5px solid #D43C38;
    -webkit-box-shadow: 0px 0.5px 2px rgba(212, 60, 56, 0.5);
            box-shadow: 0px 0.5px 2px rgba(212, 60, 56, 0.5);
    margin-top: 17px;
    margin-bottom: 17px;
  }

  .blockPC-description__info-subtitle::after {
    content: "!";
  }

  .blockPC-description__info-ellipsis {
    display: none;
  }

  .blockPC-description__info {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1px;
  }

  .imgPC {
    width: 220px;
    height: 208px;
  }

  .blockPC__container-card__title {
    font-size: 16px;
  }

  .blockPC__container-card__text {
    font-size: 10px;
  }

  .blockPC__container-card__link {
    font-size: 11px;
  }

  .info__PC {
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 1px;
  }

  .swiperPrev {
    position: absolute;
    top: 100%;
    left: 10px;
    display: block;
  }

  .swiperNext {
    position: absolute;
    top: 100%;
    right: 10px;
    display: block;
  }
}